<section id="private-section" class="container">
  <h2 style="margin-top: 50px;">관리자 페이지</h2>
  <p>환영합니다, {{user.username}}!</p>
  <br><br>

  <h3>예약 목록</h3>
  <table>
    <thead>
      <tr>
        <th>날짜</th>
        <th>시간</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>인원</th>
        <th>메시지</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each bookings}}
      <tr>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{lastName}} {{firstName}}</td>
        <td>{{phone}}</td>
        <td>{{people}}</td>
        <td>{{message}}</td>
        <td>
          <!-- DELETE -->
          <form action="/admin/{{_id}}/delete" method="POST" style="display:inline;">
            <button class="btn btn-danger" type="submit">삭제</button>
          </form>
          <!-- EDIT -->
          <a class="btn btn-primary" href="/admin/{{_id}}/edit">수정</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="7">예약 내역이 없습니다.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <nav aria-label="Page navigation">
  <ul class="pagination">
    {{#if totalPages}}
      {{#range 1 totalPages}}
        <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
          {{#if (eq this ../currentPage)}}
            <span class="page-link">{{this}}</span>
          {{else}}
            <a class="page-link" href="/auth/private?page={{this}}">{{this}}</a>
          {{/if}}
        </li>
      {{/range}}
    {{else}}
      <li class="page-item disabled">
        <span class="page-link">No Pages</span>
      </li>
    {{/if}}
  </ul>
</nav>

  <section id="search-bookings-section" class="container">
    <h3>예약 검색</h3>
    <form action="/admin/filtering" method="GET" style="display: flex; gap: 10px;">
      <label for="date">날짜:</label>
      <input type="date" id="date" name="date">

    <label for="time">시간:</label>
    <select id="time" name="time">
      <option value="">--:--</option>
      {{#each timeSlots}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <button class="btn btn-primary" type="submit" style="white-space: nowrap;">검색</button>
    </form>
  </section>



  <div id="action-buttons">
    <a class="btn btn-primary" href="/admin/settings">환경 설정</a>
    <a class="btn btn-danger" href="/auth/logout">로그아웃</a>
  </div>
</section>
