<section id="edit-booking-section" class="container">
  <h2 style="margin-top: 50px;">예약 수정</h2>
  <form action="/admin/{{booking._id}}/edit" method="POST">
    <label for="date">예약 날짜:</label>
    <input type="date" id="date" name="date" value="{{booking.date}}" required>

    <label for="time">예약 시간:</label>
    <select id="time" name="time" required>
    {{#each timeSlots}}
    <option value="{{this}}" {{#ifEquals this ../booking.time}}selected{{/ifEquals}}>
        {{this}}
    </option>
    {{/each}}
    </select>

    <label for="people">인원 수:</label>
    <input type="number" id="people" name="people" value="{{booking.people}}" min="1" max="10" required>

    <label for="firstName">이름:</label>
    <input type="text" id="firstName" name="firstName" value="{{booking.firstName}}" required>

    <label for="lastName">성:</label>
    <input type="text" id="lastName" name="lastName" value="{{booking.lastName}}" required>

    <label for="phone">전화번호:</label>
    <input type="tel" id="phone" name="phone" value="{{booking.phone}}" required>

    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" value="{{booking.email}}" required>

    <label for="message">메시지:</label>
    <textarea id="message" name="message">{{booking.message}}</textarea>
    
    <div class="button-container">
      <button class="btn btn-primary" type="submit">수정</button>
    <a class="btn btn-secondary" href="/auth/private">취소</a>
    </div>
  </form>
</section>
