<section id="confirm-section" class="container text-center" style="margin-top: 120px">
  <h2>예약 확인</h2><br>
  <p><strong>예약 날짜:</strong> {{date}}</p>
  <p><strong>예약 시간:</strong> {{time}}</p>
  <p><strong>인원:</strong> {{people}}</p>
  <p><strong>이름:</strong> {{lastName}} {{firstName}}</p>
  <p><strong>전화번호:</strong> {{phone}}</p>
  <p><strong>이메일:</strong> {{email}}</p>
  <p><strong>메시지:</strong> {{message}}</p>
  <br><br>
  <p>이메일로 예약 확인 정보가 전송되었습니다. 감사합니다!</p><br>
  <a class="btn btn-primary" href="/preview">홈으로 돌아가기</a>
</section>



